.body {
    background-color: #FFF;
    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity));
    -webkit-font-smoothing: antialiased;
}

.title {
    font-size: 3rem/* 48px */;
    line-height: 1;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}