.Newslatter-input {
    height: 75px;
    width: 391px;
}

.Newslatter-button {
    height: 75px;
    width: 194px;
    background-color: #FFCB47;
    boxshadow: 10px 10px 30px;
}

.Newslatter-div {
    width: 585px;
    height: 75px;
}

.Menu-header {
    width: 1203px;
    padding-left: 358px;
    padding-top: 10.16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 358px;
}
.Menu-div{
   display: flex;
   align-items: flex-end;
}